<h1>Feedback entry</h1>
<p><%= link_to "Home", root_path %></p>
<% if user_signed_in? %>
  <%= link_to "See your feedback", feedback_show_path %>
<% end %>

<h2>Enter feedback for someone:</h2>

<% form_for Rating do |f| %>
<% end %>
